{% extends "_dashboard.html" %}

{% block pollsActive %}active{% endblock %}

{% block dashboardBody %}
    <p class="h4 mb-3">Your Polls</p>
    <div class="list-group list-group-horizontal justify-content-center mb-4">
        <div class="list-group-item">
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link"><i class="bi bi-pencil-square"></i> Edit</a>
                  <a href="#" class="text-danger card-link"><i class="bi bi-folder-x"></i> Remove</a>
                </div>
              </div>
        </div>
        <div class="list-group-item">
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link"><i class="bi bi-pencil-square"></i> Edit</a>
                  <a href="#" class="text-danger card-link"><i class="bi bi-folder-x"></i> Remove</a>
                </div>
              </div>
        </div>
        <div class="list-group-item">
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link"><i class="bi bi-pencil-square"></i> Edit</a>
                  <a href="#" class="text-danger card-link"><i class="bi bi-folder-x"></i> Remove</a>
                </div>
              </div>
        </div>
        <div class="list-group-item">
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link"><i class="bi bi-pencil-square"></i> Edit</a>
                  <a href="#" class="text-danger card-link"><i class="bi bi-folder-x"></i> Remove</a>
                </div>
              </div>
        </div>
    </div>
{% endblock %}